---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    background-image:url('{{ site.baseurl }}/assets/bg_body.png');
    background-repeat:repeat-x;
}
header > div.wrapper {
    background-image:url('{{ site.baseurl }}/assets/banner_topo.jpg');
    background-repeat:repeat-x;
    margin-top: 3em;
    width:960px
  }
